<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>REST in peace</title>

    <meta name="description" content="A DEMO Presentation with a zuehlke Template and the reveal.js presentation framework">
    <meta name="author" content="Type your name here">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">

    <link rel="icon" href="images/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="css/theme/zuehlke.css" id="theme">

    <link rel="stylesheet" href="css/presentation.css" id="theme">
    <link rel="stylesheet" href="css/bootstrap.min.css" id="theme">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" id="theme">

    <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <script>
        if (window.location.search.match(/print-pdf/gi)) {
            var defaultStylesheet = createStylesheetLink('css/print/pdf.css'),
                zuehlkeStylesheet = createStylesheetLink('css/print/pdf-zuehlke.css');

            document.getElementsByTagName('head')[0].appendChild(defaultStylesheet);
            document.getElementsByTagName('head')[0].appendChild(zuehlkeStylesheet);
        }

        function createStylesheetLink(href) {
            var link = document.createElement('link');
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = href;

            return link;
        }
    </script>

    <!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
</head>

<body>

    <div class="reveal">

        <!-- Any section element inside of this container is displayed as a slide -->
        <div class="slides">
            <span id="zuehlke-header" class="zuehlke-header hide"></span>
            <section data-transition="linear" data-state="zuehlke-bg-parallax" data-parallax-step=1>
                <div class="zuehlke-center">
                    <div class="zuehlke-splash-title">REST in peace</div>
                </div>
            </section>
            <section data-transition="linear">
                <div>
                    <h2>Content</h2>
                    <ul>
                        <li>
                            Intro 2'
                        </li>
                        <li>
                            Basics 10'
                        </li>
                        <li>
                            Conventions 20'
                        </li>
                        <li>
                            Hands-On
                            <ul>
                                <li>Design your API 10'</li>
                                <li>Review 5'</li>
                                <li>Pause 10'</li>
                                <li>REST@SAM 5' (nick)</li>
                                <li>Postman 5' (nick, ben)</li>
                                <li>Implementation 20' (dani)</li>
                                <li>Review 15'</li>
                            </ul>
                        </li>
                        <li>Deep Dive with forecast 10'</li>
                        <li>QA Session 10'</li>
                    </ul>
                </div>
            </section>
            <section data-transition="linear">
                <div>
                    <h2>Basics topics</h2>

                    <ul>
                        <li>What is REST?</li>
                        <li>REST standard?</li>
                        <li>Why REST?</li>
                        <li>idempotency</li>
                        <li>basic examples (e.g. simple GETs)</li>
                    </ul>
                </div>
            </section>
            <section data-transition="linear">
                <section>
                    <div>
                        <h2>Definition</h2>
                        <p>
                            "Representational state transfer (REST) is an architectural style consisting of a coordinated set of architectural constraints applied to components, connectors, and data elements, within a distributed hypermedia system."
                        </p>
                    </div>
                </section>
                <section>
                    <h2>Definition for humans</h2>
                    <p>
                        A concrete implementation of a REST Web service follows four basic design principles:
                    </p>
                    <p>
                        <ul class="zuehlke-disc">
                            <li>Use HTTP methods explicitly.</li>
                            <li>Be stateless.</li>
                            <li>Expose directory structure-like URIs.</li>
                            <li>Transfer XML, JavaScript Object Notation (JSON), or both.</li>
                        </ul>
                    </p>
                </section>
                <section>
                    <h2>Standard?</h2>
                    <p>
                        REST ist eigentlich ein Paradigma mit "Quasi Standard".
                    </p>
                    <p>
                        So ist ein Web-Dienst, der lediglich unveränderte Seiteninhalte nach dem Internetstandard HTTP anbietet, bereits REST-konform.
                    </p>
                </section>
            </section>
            <section data-transition="linear">
                <h2>Warum REST?</h2>
                <p>
                    <ul>
                        <li>State im Protokoll</li>
                        <li>Skalierbarkeit</li>
                        <li>Standard durch HTTP</li>
                        <li>Caching</li>
                    </ul>
                </p>
            </section>
            <section data-transition="linear">
                <h2>Methoden</h2>
                <br />
                <table class="table table-striped" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Methode</th>
                            <th style="text-align: center;">Sicher</th>
                            <th style="text-align: center;">Idempotent</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="caps">GET</span>
                            </td>
                            <td style="text-align: center;">X</td>
                            <td style="text-align: center;">X</td>
                        </tr>
                        <tr>
                            <td><span class="caps">HEAD</span>
                            </td>
                            <td style="text-align: center;">X</td>
                            <td style="text-align: center;">X</td>
                        </tr>
                        <tr>
                            <td><span class="caps">PUT</span>
                            </td>
                            <td> </td>
                            <td style="text-align: center;">X</td>
                        </tr>
                        <tr>
                            <td><span class="caps">POST</span>
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td><span class="caps">PATCH</span>
                            </td>
                            <td> </td>
                            <td style="text-align: center;"></td>
                        </tr>
                        <tr>
                            <td><span class="caps">OPTIONS</span>
                            </td>
                            <td style="text-align: center;">X</td>
                            <td style="text-align: center;">X</td>
                        </tr>
                        <tr>
                            <td><span class="caps">DELETE</span>
                            </td>
                            <td> </td>
                            <td style="text-align: center;">X</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section data-transition="linear">
                <h2>Basic Example</h2>
                <p class="fragment">
                    <pre><code>
GET http://transport.opendata.ch/v1/locations

==>
{
    "stations": []
}

</code></pre>
                </p>
            </section>
            <section>
                <h2>Live Example</h2>
                <div ng-app="reveal" ng-controller="revealCtrl">
                    <div>
                        <span><label>URL:</label>
                            <textarea style="height: 5em; width: 70%; font-size: 0.6em;" cols="60" rows="3" ng-model="restURL"></textarea>
                            <div class="btn-group" role="group" aria-label="..." style="margin-top:10px;">
                              <button ng-click="getUrl()"  type="button" class="btn btn-default">GET</button>
                            </div>
                        </span>
                        <div>
                            <h7>Examples&nbsp;</h7>
                            <div class="btn-group" role="group" aria-label="..." style="margin-top:10px;">
                                <button ng-click="helpURL()" type="button" class="btn btn-default">&nbsp;1&nbsp;</button>
                                <button ng-click="helpURL1()" type="button" class="btn btn-default">&nbsp;2&nbsp;</button>
                                <button ng-click="helpURL2()" type="button" class="btn btn-default">&nbsp;3&nbsp;</button>
                            </div>
                        </div>


                        <div class="content-json" style="text-align:left;">
                            <h4>Antwort:</h4>
                            <pre ng-bind-html="restresult" style="overflow: scroll; max-height:350px;"></pre>
                        </div>

                    </div>
                </div>
            </section>
            <section data-transition="linear">
                <h2>URL-Parameter</h2>
                <p>
                    <ul>
                        <li>Einschränkung der Resultmenge sowie Inhalt</li>
                        <li>Auch bei POST, DELETE etc. erlaubt</li>
                        <li>API Definition als Referenz</li>
                        <li>UTF-8 und URL encoded</li>
                        <li>Paging startet bei "1" und nicht bei "0"</li>
                    </ul>
                </p>

                <pre><code>
GET     /connections?from=oerlikon&to=wallisellen&limit=2

DELETE  /connections?from=oerlikon&to=wallisellen&limit=2

</code></pre>
            </section>
            <section data-transition="linear">
                <h2>Weitere Beispiele</h2>
                <pre><code>
GET  https://api.github.com/repos/bmillo/recycle_calendar

GET  http://isvat.appspot.com/DE/197493877/

GET  api.openweathermap.org/data/2.5/weather?q=Zurich,ch

</code></pre>
            </section>
            <section data-transition="linear">
                <section>
                    <div>
                        <h2>Conventions</h2>

                        <ul>
                            <li>Which method do I use?</li>
                            <li>Naming of resources</li>
                            <li>Naming in JSON</li>
                            <li>Request Payload</li>
                        </ul>
                    </div>
                </section>
                <section>
                    <div>
                        <h2>Which method do I use?</h2>

                        <p>POST GET PUT DELETE</p>
                        <p> is not strictly </p>
                        <p><strong>CRUD</strong>
                        </p>
                    </div>

                </section>
                <section>
                    <div>
                        <h2>GET & DELETE</h2>
                        <p>Entspricht dem READ und DELETE von CRUD.</p>

                        <pre><code>
GET     http://transport.opendata.ch/v1/stations
DELETE  http://transport.opendata.ch/v1/stations/1234

</code></pre>
                    </div>

                </section>
                <section>
                    <div>
                        <h2>POST & PUT</h2>
                        <p>Beide Methoden können für CREATE und UPDATE verwendet werden.</p>

                        <pre><code>
POST http://transport.opendata.ch/v1/stations

{
    name : "Zürich Hauptbahnhof"
}

PUT http://transport.opendata.ch/v1/stations/8765

{
    name : "Zürich Hauptbahnhof"
}

</code></pre>
                        <p>WTF?</p>
                    </div>

                </section>
                <section>
                    <div>
                        <h2>POST & PUT</h2>
                        <p>Der Schlüssel liegt in der <strong>Idempotenz</strong>
                        </p>

                        <p>"Send and send and send my friend, it makes no difference in the end."</p>
                        <p><small>- James Beninger</small>
                        </p>
                    </div>

                </section>
                <section>
                    <div>
                        <h2>POST & PUT</h2>
                        <p>POST ist <strong>nicht</strong> idempotent:</p>

                        <pre><code>
POST http://transport.opendata.ch/v1/stations

{
    name : "Zürich Hauptbahnhof"
}

==>
201 Created
Location: /stations/4444

</code></pre>

                        <p>Was passiert, wenn ich diesen Request mehrmals ausführe?</p>
                    </div>

                </section>
                <section>
                    <div>
                        <h2>POST & PUT</h2>
                        <pre><code>
POST http://transport.opendata.ch/v1/stations

{
    name : "Zürich Hauptbahnhof"
}

==>
201 Created
Location: /stations/4444

</code></pre>

                        <p>and again!</p>
                        <pre><code>
POST http://transport.opendata.ch/v1/stations

{
    name : "Zürich Hauptbahnhof"
}

==>
201 Created
Location: /stations/4445

</code></pre>
                    </div>
                    <p>Wir haben soeben dieselbe Location zwei mal erstellt.</p>
                </section>

                <section>
                    <div>
                        <h2>POST & PUT</h2>
                        <p>PUT <strong>ist</strong> idempotent:</p>

                        <pre><code>
PUT http://transport.opendata.ch/v1/stations/4444

{
    name : "Zürich Hauptbahnhof"
}

==>
201 Created
Location: /stations/4444

</code></pre>

                        <p>Was passiert, wenn ich diesen Request mehrmals ausführe?</p>
                    </div>

                </section>
                <section>
                    <div>
                        <h2>POST & PUT</h2>
                        <pre><code>
PUT http://transport.opendata.ch/v1/stations/4444

{
    name : "Zürich Hauptbahnhof"
}

==>
201 Created
Location: /stations/4444

</code></pre>

                        <p>and again!</p>
                        <pre><code>
PUT http://transport.opendata.ch/v1/stations/4444

{
    name : "Zürich Hauptbahnhof"
}

==>
201 Created
Location: /stations/4444

</code></pre>
                    </div>
                    <p>Wir haben die erste Location einfach überschrieben.</p>
                </section>
                <section>
                    <div>
                        <h2>POST & PUT</h2>

                        <p>Bei <strong>POST</strong> lassen wir den Server entscheiden, unter welcher Location die Resource erstellt wird.</p>
                        <p>Bei <strong>PUT</strong> sagen wir dem Server, unter welcher Location die Resource erstellt/überschrieben werden soll.</p>
                        <pre><code>
PUT     http://transport.opendata.ch/v1/locations/4444
POST    http://transport.opendata.ch/v1/locations

</code></pre>
                        <p><strong>Achtung:</strong> Natürlich liegt es an der Implementation des Servers, ob PUT & POST auch wirklich idempotent ist oder nicht!</p>
                    </div>
                </section>
                <section>
                    <div>
                        <h2>Naming of Resources</h2>
                        <p>Verwende immer <strong>Nomen</strong>, um die Resourcen zu benennen.</p>
                        <p>Verwende immer <strong>Plural</strong>, ausser es handelt sich <i>wirklich</i> um eine einzelne Resource und nicht eine Collection.</p>
                    </div>
                </section>
                <section>
                    <div>
                        <h2>Naming of Resources</h2>
                        <p>Wir exposen mit einer REST API die Resource <i>=Nomen</i>
                        </p>
                        <p>und nicht die Operationen darauf <i>=Verben</i>
                        </p>
                        <p>Die HTTP Methode sagt uns, <strong>was</strong> wir auf dieser Resource tun.</p>

                        <pre><code>

POST    /locations                  // DO

POST    /locations/createLocation   // DON'T

DELETE  /locations/1234             // DO

DELETE  /deleteLocation/1234        // DON'T

</code></pre>
                    </div>
                </section>
                <section>
                    <div>
                        <h2>JSON</h2>

                        <pre><code>
// nope

{
    employee : {
        employeeId   : 111,
        employeeName : "John"
    }
}

</code></pre>
                        <p>skip the prefix!</p>
                        <pre><code>

{
    employee : {
        id      : 111,
        name    : "John"
    }
}

</code></pre>

                    </div>
                </section>
                <section>
                    <div>
                        <h2>Request Payloads</h2>

                        <p><strong>GET</strong> und <strong>DELETE</strong> haben <strong>keinen</strong> Payload.</p>

                        <p>Einschränkungen für die Antwort (z.B. search-parameters) gehören in die URL-Parameter.</p>

                        <pre><code>
GET /locations?canton=Aargau&county=Baden

                        </code></pre>

                    </div>
                </section>
            </section>
            <section data-transition="linear">
                <section>
                    <div>
                        <h2>Hands-On</h2>
                        <p>Design your API</p>
                    </div>
                </section>
                <section>
                    <div>
                        <h2>REST @ SAM</h2>
                        <p>JAX-RS with Jersey</p>
                    </div>
                </section>
                <section>
                    <div>
                        <h2>Serializing and Deserializing</h2>
                        <p>Automatisches Serialisieren und Deserialisieren:</p>
                        <ul>
                            <li>JSON mit Jackson</li>
                            <li>XML mit JAXB</li>
                        </ul>
                    </div>
                </section>
                <section>
                    <div>
                        <h2>Serializing and Deserializing</h2>
                        <p>Beispiel</p>
                        <pre><code>
@GET
public Employee[] getEmployees() { ... }

==>
[{ name : "John Wayne" }, ..., ]

                        </code></pre>
                    </div>
                </section>
                <section>
                    <div>
                        <h2>Path Params</h2>
                        <p>Client: </p>
                        <pre><code>
GET /employees/1234

                        </code></pre>
                        <p>Server:</p>
                        <pre><code>
@GET
@Path(/{employeeId})
public Employee getEmployee(@PathParam("employeeId") 
                                String employeeId) { ... }

==>
{ id : "1234", name : "John Wayne" }

                        </code></pre>
                    </div>
                </section>
                <section>
                    <div>
                        <h2>Query Params</h2>
                        <p>Client: </p>
                        <pre><code>
GET /employees?name=John

                        </code></pre>
                        <p>Server:</p>
                        <pre><code>
@GET
public Employee getEmployees(@QueryParam("name" String name) { ... }

==>
{ id : "1234", name : "John Wayne" }

                        </code></pre>
                    </div>
                </section>
                <section>
                    <div>
                        <h2>Request Payload</h2>
                        <p>Client: </p>
                        <pre><code>
POST /employees
{
    name : "Chuck Norris"
}

</code></pre>
                        <p>Server:</p>
                        <pre><code>
@POST
public void createEmployee(Employee employee) { ... }

==>
204 No Content

</code></pre>
                    </div>
                </section>
                <section data-transition="linear">
                    <div>
                        <h2>Postman</h2>

                        <p><a href="chrome-extension://fdmmgilgnpjigdojojpjoooidkmcomcm/index.html">Live Demo</a></p>
                    </div>
                </section>
                <section>
                    <div>
                        <h2>Hands On!</h2>
                        <p>Cheatsheet</p>
                        <pre><code>

@GET
public Employee[] getEmployees() { ... }

@GET
@Path(/{employeeId})
public Employee getEmployee(@PathParam("employeeId")
    String employeeId) { ... }

@GET
public Employee getEmployees(@QueryParam("name" String name) { ... }

@POST
public void createEmployee(Employee employee) { ... }

</code></pre>

                    </div>
                </section>
            </section>
            <section data-transition="linear">
                <section>
                    <div>
                        <h2>Deep Dive</h2>

                        <ul>
                            <li>Expand</li>
                            <li>Patch</li>
                            <li>Head</li>
                            <li>Options</li>
                            <li>Versioning</li>
                            <li>Error Handling</li>
                            <li>HATEOAS</li>
                        </ul>
                    </div>
                </section>
                <section>
                    <h2>Expand</h2>
                    <p>Department is not expanded</p>
                    <pre><code>
GET /employees/123

==>
{
    id: 123,
    name: "John",
    surname : "Doe",
    departmentId : 1234
}
                    </code></pre>

                </section>
                <section>
                    <h2>Expand</h2>
                    <pre><code>
GET /employees/123?expand=department

==>
{
    id: 123,
    name: "John",
    surname : "Doe",
    department : {
        id: 1234,
        name: "MYA",
        street: "Hardturmstrasse 4",
        zipCode: 8005,
        city: "Zürich"
    }
}
                    </code></pre>
                </section>
                <section>
                    <h2>PATCH</h2>
                    <ul>
                        <li>Partielles Update einer Ressource</li>
                        <li>PATCH must patch atomically</li>
                        <li>Not idempotent (Altough Can be implemented as so)</li>
                    </ul>

                    <p>PATCH wird zurzeit noch nicht flächendeckend unterstützt</p>
                </section>
                <section>
                    <h2>PATCH</h2>
                    <p>Before patching</p>
                    <pre><code>
GET /employees/123

==>
{
    id: 123,
    name: "John",
    prename : "Doe",
    departmentId : 1234,
    salary : 5000
}
                     </code></pre>
                </section>
                <section>
                    <h2>PATCH</h2>
                    <p>now Patching...</p>
                    <pre><code>
PATCH /employees/123
{
    salary : 6000 
}

==>
200 OK
                    </code></pre>

                </section>
                <section>
                    <h2>PATCH</h2>
                    <p>After Patching</p>
                    <pre><code>
GET /employees/123

==>
{
    id: 123,
    name: "John",
    prename : "Doe",
    departmentId : 1234,
    salary : 6000
}
  </code></pre>
                </section>
                <section>
                    <h2>HEAD</h2>
                    <p>Die HEAD Methode entpspricht einem GET-Aufruf, jedoch wird dabei der Body der Response weggelassen.</p>
                    <p>Die Header der HEAD Response müssen identisch zu dem Header der GET Response sein.</p>
                    <pre><code>
HEAD /employees/123

==>
200 OK
  </code></pre>
                </section>
                <section>
                    <h2>OPTIONS</h2>
                    <p>Die OPTIONS Methode erlaubt dem Client die Optionen und Anforderungen des Servers bzw. einer Ressource zu erhalten. </p>

                    <pre class="fragment"><code>
OPTIONS /*  // * Testet den ganzen Server
==>
200 OK  
  </code></pre>
                    <pre class="fragment"><code>
OPTIONS /employees  // Testet die employees Ressource
==>
200 OK  
Allow: HEAD,GET,PUT,DELETE,OPTIONS
  </code></pre>
                </section>
                <section>
                    <h2>Versionierung</h2>
                    <div class="alert alert-warning sam-tag" role="alert"><strong>SAM:</strong> nicht relevant!</div>
                    <img src="images/versioning.png"></img>
                </section>
                <section>
                    <div class="alert alert-warning sam-tag" role="alert"><strong>SAM:</strong> nicht relevant!</div>
                    <h2>Versionierung</h2>
                    <p>Als Teil vor der Resource</p>
                    <pre><code>
GET http://transport.opendata.ch/v1/locations
                        </code></pre>
                    <p>Als URL-Parameter</p>
                    <pre><code>
GET http://transport.opendata.ch/locations?v=1
                        </code></pre>
                </section>
                <section>
                    <div class="alert alert-warning sam-tag" role="alert"><strong>SAM:</strong> nicht relevant!</div>
                    <h2>Versionierung</h2>
                    <p>Versionierung durch Accept Header</p>
                    <pre><code>
GET http://transport.opendata.ch/locations
Accept: application/vnd.opendata.v1+json
                        </code></pre>
                    <p>Versionierung</p>
                    <pre><code>
GET http://transport.opendata.ch/locations
api-version: 1
                        </code></pre>
                </section>

                <section>
                    <h2>Error Handling</h2>
                    <p>Für die Fehlerkommunikation zwischen Server und Client sind die HTTP Statuscodes vorgesehen. </p>
                    <ul>
                        <li>4xx Status Codes für Fehler des Clients</li>
                        <li>5xx Status Codes für Fehler des Servers</li>
                    </ul>
                </section>
                <section>
                    <h2>400 Bad Request</h2>
                    <p>Die Anfrage ist fehlerhaft aufgebaut</p>

                    <pre><code>
POST /employees

{
    name : "John Doe";
    salary : 5000
}

==>
400 Bad Request
</code></pre>
                </section>
                <section>
                    <h2>401 Unauthorized</h2>
                    <p>Der Client muss sich authentisieren</p>
                    <p>In der Response schickt der Server ein WWW-Authenticate Header, um die Authentisierung zu veranlassen.</p>
                    <pre><code>
GET /Secrets

==>
401 Unauthorized
WWW-Authenticate: Basic realm="My Server"
</code></pre>
                </section>
                <section>
                    <h2>404 Not Found</h2>
                    <p>Die Angefragte Ressource kann nicht gefunden werden</p>
                    <pre><code>
GET /employees/999999999

==>
404 Not Found
</code></pre>
                </section>
                <section>
                    <h2>422 Unprocessable Entity</h2>
                    <p>Die geschickten Daten sind syntaktisch korrekt, werden jedoch wegen semantischer Fehler abgelehnt</p>
                    <pre><code>
POST /employees

{
    employeesname : "John Doe"
    employeessalary : 5000
}
==>
422 Unprocessable Entity
</code></pre>
                </section>
                <section>
                    <h2>500 Internal Server Error</h2>
                    <p>Sammel Statuscode welcher bei unerwarteten Fehlern geschmissen wird</p>
                    <pre><code>
POST /employees

{
    name : "John Doe"
    salary : 5000
}
==>
500 Internal Server Error
</code></pre>
                </section>
                <section>
                    <h2>501 Not Implemented</h2>
                    <p>Das Bearbeiten der Anfrage wird vom Server nicht bereitgestellt. z.B. unbekannte oder nicht unterstütztde HTTP-Methode</p>
                    <pre><code>
POST /ReadOnlyRessource

{
    title : "RESTful Web Services Cookbook"
    pages : 314
}

==>
501 Not Implemented
</code></pre>
                </section>
                <section>
                    <div class="alert alert-warning sam-tag" role="alert"><strong>SAM:</strong> nicht relevant!</div>
                    <h2>HATEOAS</h2>
                    <ul>
                        <li>Hypermedia as the Engine of Application State</li>
                        <li>Fixer Einstiegspunkt</li>
                        <li>Hypertext zum Navigieren der API</li>
                        <li>Weitere Follow-Up Links in der Response</li>
                    </ul>
                </section>
                <section>
                    <div class="alert alert-warning sam-tag" role="alert"><strong>SAM:</strong> nicht relevant!</div>
                    <h2>HATEOAS</h2>
                    <pre><code>
GET /employees/123
==>
{
    id: 123,
    name: "John",
    departmentId : 1234,
    salary : 6000
    links : [{
        rel: "self",
        href: "/employees/123"
    },
    {
        rel: "boss",
        href: "/employees/632"
    }]
}
</code></pre>
                </section>
            </section>
            <section>
                <h2>QA &amp; Feedback</h2>
            </section>
        </div>
    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>
        // Full list of configuration options available here:
        // https://github.com/hakimel/reveal.js#configuration
        Reveal.initialize({
            controls: true,
            progress: true,
            history: true,
            center: true,

            theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
            transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

            // Parallax scrolling
            // parallaxBackgroundImage: 'images/presentation/sidney_night.jpg',
            // parallaxBackgroundSize: '5241px 1116px',

            // Optional libraries used to extend on reveal.js
            dependencies: [{
                src: 'lib/js/classList.js',
                condition: function () {
                    return !document.body.classList;
                }
            }, {
                src: 'plugin/markdown/marked.js',
                condition: function () {
                    return !!document.querySelector('[data-markdown]');
                }
            }, {
                src: 'plugin/markdown/markdown.js',
                condition: function () {
                    return !!document.querySelector('[data-markdown]');
                }
            }, {
                src: 'js/angular.js',
                condition: function () {
                    return true;
                }
            }, {
                src: 'js/app.js',
                condition: function () {
                    return true;
                }
            }, {
                src: 'https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-sanitize.js',
                condition: function () {
                    return true;
                }
            }, {
                src: 'plugin/highlight/highlight.js',
                async: true,
                callback: function () {
                    hljs.initHighlightingOnLoad();
                }
            }, {
                src: 'plugin/zoom-js/zoom.js',
                async: true,
                condition: function () {
                    return !!document.body.classList;
                }
            }, {
                src: 'plugin/notes/notes.js',
                async: true,
                condition: function () {
                    return !!document.body.classList;
                }
            }, {
                src: 'plugin/zuehlke/zuehlke.js',
                condition: function () {
                    return true;
                }
            }, {
                src: 'plugin/chart/chart.js',
                async: false,
                condition: function () {
                    return true;
                }
            }, {
                src: 'js/presentation.js',
                async: false,
                condition: function () {
                    return true;
                }
            }]
        });
    </script>

</body>

</html>